CMakeFiles/
CMakeCache.txt
Makefile
cmake_*.cmake
install_manifest.txt
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so
*.snap*
*.xlog*
*~
.gdb_history
*.old
.*.sw?
build
node_modules
packpack

third_party/curl-out
third_party/.curl.tmp
